<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">IdeaBookMark Add Bookmark Your Ideas and Many More</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Ideas</a>
</div>